@charset "UTF-8";
body {
    background-color: #FDFCFF;
    font-family: "Sintony", Arial, sans-serif;
    font-size: 13.5px;
    color: #4a4949;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

.btn {
    cursor: pointer;
    box-shadow: none !important;
    padding: 6.5px 20px;
    font-size: 1em;
    transition: all 0.25s ease;
    text-align: center;
}
.btn i {
    padding-right: 10px;
}
.btn.btn-primary {
    background-color: #194577;
    border-color: #194577;
    color: #fff;
}
.btn.btn-primary:focus {
    box-shadow: none;
}
.btn.btn-primary:hover {
    background-color: #123155;
}
.btn.btn-secondary {
    background-color: transparent;
    border-color: #194577;
    color: #194577;
}
.btn.btn-launch {
    background-color: transparent;
    border-color: #000000;
    color: #000000;
    border-radius: 0;
    font-size: 15px;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-xs i {
    padding-right: 3px;
}

.button, a.button {
    border: 0 none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-family: "DIN Next LT Pro", sans-serif;
    font-stretch: condensed;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    outline: 0;
    min-height: 53px;
    padding: 8px 20px 5px;
    transition: all 0.25s ease;
}

.button.btn-red,
a.button.btn-red {
    background-color: #1a4779;
    color: #fff;
}

.main-header {
    width: 100%;
    height: 65px;
}

.main-nav {
    background-color: #fff;
    border-bottom: 1px solid #E4E5E9;
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 30;
    overflow: visible;
    top: 0;
    left: 0;
    transition: left 0.6s, top 0.6s;
    min-height: 65px;
}

.nav-center {
    display: flex;
    justify-content: space-between;
    flex: 1 auto;
    text-align: center;
    left: 0;
    right: 0;
    transition: padding-left 0.6s;
    align-items: center;
    padding: 5px 25px;
}
.nav-center h2 {
    margin-bottom: 0;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.nav-center ul {
    margin-bottom: 0;
}
.nav-center ul li {
    list-style-type: none;
}
.nav-center .badge {
    font-size: 8px;
    position: absolute;
    border-radius: 50%;
    color: #fff;
    left: 7px;
    top: 0px;
    background: #188dbe;
}
.nav-center .dropdown-menu a {
    font-size: 14px;
}

.nav-logo {
    width: 278px;
}

.notification a {
    color: #ACAEB2;
}

.nav-buttons {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    position: relative;
    transition: width 0.6s;
    padding: 5px 25px;
}
.nav-buttons:before {
    content: "";
    height: 33px;
    background-color: #E4E5E9;
    position: absolute;
    width: 1px;
    left: 4px;
}
.nav-buttons .nav-user {
    width: 100%;
}
.nav-buttons .nav-user img {
    max-width: 33px;
    height: auto;
    border-radius: 50%;
}
.nav-buttons .nav-user > a {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-buttons .nav-user > a:hover {
    color: #000000;
    text-decoration: none;
}
.nav-buttons .nav-user > a strong {
    padding-right: 12px;
}

/* Main navigation */
.navigation {
    background: #fff;
    border-right: 1px solid #E4E5E9;
    z-index: 50;
    left: 0;
    top: 65px;
    position: fixed;
    height: calc(100% - 65px);
    transition: left 0.6s;
    overflow-x: visible;
    overflow-y: auto;
    width: 279px;
}
.navigation .navigation-hidden {
    left: -240px;
}
.navigation .inner-pad {
    padding: 22px;
}
.navigation .nav-logo {
    display: block;
    max-width: 173px;
    margin: 17px auto 35px;
    text-align: center;
}
.navigation .nav-logo img,
.navigation .nav-logo svg {
    height: auto;
    max-width: 100%;
}
.navigation .nav-logo .brand {
    color: #fff;
    font-size: 12px;
    display: block;
    padding-top: 8px;
}
.navigation .icon-link {
    color: #194577;
}
.navigation .icon-link i {
    font-size: 1rem;
    color: #194577;
    margin-right: 10px;
}

.aside-menu {
    margin: 0 0 15px;
    padding: 40px 0 0;
}
.aside-menu > li:not(:last-child) {
    margin-bottom: 10px;
}
.aside-menu .nav-link {
    color: #194577;
    display: block;
    font-weight: bold;
    line-height: 20px;
    padding: 15px 15px;
    padding-left: 64px;
    position: relative;
    transition: all 0.2s;
    border-left: 5px solid transparent;
    font-size: 14px;
    letter-spacing: 0.8px;
    transition: all 0.25s;
}
.aside-menu .nav-link .nav-icon {
    left: 0;
    position: absolute;
    top: 16px;
    width: 60px;
    text-align: center;
}
.aside-menu .nav-link .nav-icon i {
    color: #188dbe;
    font-size: 1rem;
    height: auto;
    max-height: 16px;
    max-width: 16px;
    width: auto;
}
.aside-menu .nav-link .badge {
    position: relative;
    top: -2px;
}
.aside-menu li.active .nav-link,
.aside-menu .nav-link:hover {
    border-color: #194577;
    color: #194577;
}
.aside-menu li.active .nav-link i,
.aside-menu .nav-link:hover .nav-icon i {
    color: inherit;
}

.navbar-dropdown {
    background-color: #FFFFFF;
    border-radius: 0;
    border: 0 none;
    font-size: 0.9rem;
    margin-top: 0;
    position: absolute;
    top: 16px !important;
    right: 0;
    left: auto;
    min-width: 100%;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 0;
    overflow: hidden;
}

.navbar-dropdown-links > ul {
    padding: 0;
    margin: 0;
    width: 185px;
}
.navbar-dropdown-links > ul > li > a {
    color: #222;
    display: block;
    height: 40px;
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 40px;
    padding: 0 25px;
    padding-right: 10px;
    text-decoration: none;
}
.navbar-dropdown-links > ul > li > a.warning-link {
    color: #C14141;
    font-weight: bold;
}
.navbar-dropdown-links > ul > li > a:hover {
    background-color: rgba(25, 69, 119, 0.1);
}
.navbar-dropdown-links .icon-wrap {
    display: inline-block;
    font-size: 1.2em;
    width: 15px;
    margin-right: 14px;
}

.main-content {
    padding: 35px 30px;
    width: 1540px;
    max-width: calc(100% - 279px);
    margin-left: auto;
    margin-right: auto;
}
.main-content h2 {
    margin-bottom: 1.5rem;
}

.heading {
    margin-bottom: 30px;
}
.heading h4 {
    text-transform: uppercase;
    margin-bottom: 0;
}
.heading .head-toolbar {
    align-items: center;
}
.heading .tool-opt {
    text-align: right;
}
.heading .tool-opt a {
    color: #188dbe;
}

.box-data {
    border: 1px solid #E4E5E9;
    background-color: #fff;
    padding: 30px;
    text-align: center;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.box-data h4 {
    color: #ACAEB2;
}
.box-data p {
    font-size: 42px;
}
.box-data .percent {
    font-weight: bold;
}
.box-data .percent.positive {
    color: #5DC950;
}
.box-data .percent.negative {
    color: #B84D4F;
}
.box-data .image-data {
    margin-top: 50px;
    height: 72px;
    position: relative;
}
.box-data .image-data img {
    bottom: 0;
    left: 0;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    width: auto;
}

.table {
    border: 1px solid #dee2e6;
}
.table picture {
    width: 55px;
    height: 55px;
    display: block;
}
.table picture img {
    width: 100%;
}
.table thead {
    color: #414851;
}
.table thead td {
    opacity: 0.95;
    padding-top: 8px;
    padding-bottom: 7px;
}
.table tbody {
    color: #000;
}
.table td {
    padding: 0.6rem;
    vertical-align: middle;
}
.table td .fa-apple {
    color: #b5b5b5;
}
.table td .fa-android {
    color: #00a700;
}

.filter-right {
    position: fixed;
    right: 0;
    transform: translateX(100%);
    top: 65px;
    background-color: #fff;
    padding: 35px 20px 20px;
    width: 290px;
    height: calc(100% - 65px);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}
.filter-right.active {
    transform: translateX(0);
}
.filter-right .close {
    position: absolute;
    right: 15px;
    top: 15px;
}
.filter-right .form-check input[type=checkbox] + label,
.filter-right .form-radio input[type=radio] + label {
    margin-bottom: 8px;
}

.box-info {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 30px;
    display: block;
    border: 1px solid #E4E5E9;
}

input[type=text] {
    padding: 5px 8px;
    border-radius: 3px;
    height: 37px;
    border: 1px solid #E4E5E9;
}

.input-search {
    display: inline-block;
    position: relative;
}
.input-search input[type=text] {
    padding: 5px 25px 5px 8px;
}
.input-search .glass:after {
    content: "";
    width: 17px;
    height: 17px;
    position: absolute;
    background-size: cover;
    right: 7px;
    top: 10px;
    background-image: url("../img/magnifying-glass.png");
}

.form label {
    font-size: 0.9em;
    line-height: 13px;
    opacity: 0.98;
    margin-bottom: 0;
}
.form .form-control {
    background-color: #fff;
    border: 0 none;
    border-radius: 0;
    border-bottom: 1px solid #E4E5E9;
    color: #222;
    font-size: 0.95em;
    line-height: 1em;
    padding: 8px 8px 7px;
    outline: 0;
}
.form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #2D2D2D;
}
.form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #2D2D2D;
}
.form .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #2D2D2D;
}
.form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #2D2D2D;
}
.form .form-control:focus {
    outline: 0;
    border-color: #194577;
    box-shadow: none;
}
.form textarea.form-control {
    color: #2D2D2D;
    font-size: 12px;
    line-height: 22px;
    padding-bottom: 6px;
    border: 0 none;
    border-bottom: 1px solid #EFEFEF;
}
.form select.form-control,
.form select {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background-image: url(../img/dpdwn-arrow.png);
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    background-size: 12px auto;
    min-height: 37px;
}
.form .icon-input {
    position: relative;
}
.form .icon-input i {
    left: 9px;
    position: absolute;
    top: 12px;
}
.form .icon-input select,
.form .icon-input select.form-control {
    padding-left: 30px;
}
.form .form-group.with-icon label {
    padding-left: 30px;
}
.form .form-group.with-icon .form-control {
    padding-left: 30px;
}
.form .submit-group {
    margin-top: 20px;
}

.input-icon-user {
    background: url("../images/icons/profile-icon2.png") scroll 0 0 no-repeat;
    background-size: 15.5px auto;
    background-position: left top;
}

.input-icon-info {
    background: url("../images/icons/info_icon@2x.png") scroll 0 0 no-repeat;
    background-size: 14px auto;
    background-position: left 2px;
}

.form-check input[type=checkbox],
.form-check input[type=radio],
.form-radio input[type=checkbox],
.form-radio input[type=radio] {
    display: none;
}

.form-check {
    padding: 0;
    margin: 0;
    margin-bottom: 2px;
}

.form-check input[type=checkbox] + label,
.form-radio input[type=radio] + label {
    color: #194577;
    display: block;
    font-size: 0.95em;
    line-height: 1.5em;
    margin-bottom: 2px;
    position: relative;
    padding-left: 22px;
    cursor: pointer;
}

.form-check input[type=checkbox] + label:before,
.form-radio input[type=radio] + label:before {
    content: "";
    border: 1px solid #d8e1f3;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(129, 193, 25, 0.26);
    display: inline-block;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 2px;
}

.form-check input[type=checkbox]:checked + label {
    font-weight: bold;
}
.form-check input[type=checkbox]:checked + label:before {
    border: 1px solid #194577;
    background-color: #194577;
}
.form-check input[type=checkbox]:checked + label:after {
    content: "";
    position: absolute;
    font-family: Font Awesome\ 5 Free;
    left: 3.5px;
    color: #fff;
    font-size: 9px;
    line-height: 15px;
    top: 2px;
}

.form-radio input[type=radio] + label::before {
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    width: 14px;
    height: 14px;
}

.form-radio input[type=radio]:checked + label::after {
    content: "";
    border: 0;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    background-color: #194577;
    position: absolute;
    left: 3px;
    top: 5px;
}

.viewer-wrap {
    position: relative;
}
.viewer-wrap > .form {
    text-align: center;
}
.viewer-wrap > .form .form-group {
    display: inline-block;
}
.viewer-wrap .switch-group .form-radio,
.viewer-wrap .switch-group .form-check {
    display: inline-block;
}
.viewer-wrap .switch-group .form-radio:not(:last-child),
.viewer-wrap .switch-group .form-check:not(:last-child) {
    margin-right: 15px;
}
.viewer-wrap .switch-group .fa-apple {
    color: #b5b5b5;
    font-size: 2em;
}
.viewer-wrap .switch-group .fa-android {
    color: #00a700;
    font-size: 2em;
}

.viewer-frame {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    width: 340px;
    position: relative;
}
.viewer-frame .phone-content {
    position: absolute;
    background-color: #fff;
    top: 15px;
    width: 96%;
    left: 6px;
    height: 100%;
    height: 96%;
}
.viewer-frame.iphone .box-animate {
    left: 18px;
    width: 90%;
    top: 1px;
    height: 99%;
    border-radius: 50px;
}
.viewer-frame.iphone .phone-content {
    border-radius: 50px;
    padding: 38px;
}
.viewer-frame.android .box-animate {
    left: 1px;
    width: 98%;
    border-radius: 40px;
    height: 98%;
}
.viewer-frame.android .box-animate img {
    left: 23%;
}
.viewer-frame.android .phone-content {
    border-radius: 20px;
    padding: 20px;
}
.viewer-frame .box-animate {
    position: absolute;
    top: 0;
    z-index: 2;
    height: 100%;
    background-color: #000;
}
.viewer-frame .box-animate.turn-on {
    background-color: transparent;
}
.viewer-frame .box-animate img {
    top: 35%;
    left: 20%;
    width: 175px;
    position: absolute;
    opacity: 0;
}
.viewer-frame .box-animate.turn-on {
    animation: Colorizer 5s linear 0s;
}
.viewer-frame .box-animate.turn-on .text-animated {
    animation: fadeInBack 3.8s linear 0.5s backwards;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    opacity: 0;
}
.viewer-frame .box-animate.turn-on img {
    animation: fadeInBack 4s linear 0.5s backwards;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    opacity: 0;
    transform: scale(1);
}
.viewer-frame .text-animated {
    position: absolute;
    bottom: 30%;
    left: calc(50% - 179px/2);
    opacity: 0;
}
.viewer-frame .text-animated .loading-text {
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-align: center;
}
.viewer-frame .text-animated .loading-text span {
    display: inline-block;
    margin: 0 -0.05em;
    color: #8d8383;
}
.viewer-frame .text-animated .loading05 {
    perspective: 1000px;
}
.viewer-frame .text-animated .loading05 span {
    transform-origin: 50% 50% -25px;
    transform-style: preserve-3d;
    animation: loading05 1.6s infinite;
}
.viewer-frame .text-animated .loading05 span:nth-child(2) {
    animation-delay: 0.1s;
}
.viewer-frame .text-animated .loading05 span:nth-child(3) {
    animation-delay: 0.2s;
}
.viewer-frame .text-animated .loading05 span:nth-child(4) {
    animation-delay: 0.3s;
}
.viewer-frame .text-animated .loading05 span:nth-child(5) {
    animation-delay: 0.4s;
}
.viewer-frame .text-animated .loading05 span:nth-child(6) {
    animation-delay: 0.5s;
}
.viewer-frame .text-animated .loading05 span:nth-child(7) {
    animation-delay: 0.6s;
}
.viewer-frame > img {
    height: auto;
    max-width: 100%;
    position: relative;
    z-index: 10;
}

.turn-phone {
    border: 2px solid #194577;
    color: #194577;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: relative;
    top: -5px;
    left: 10px;
    padding: 0;
    padding-top: 1px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
.turn-phone:disabled {
    border: 2px solid #a0a0a0;
    color: #a0a0a0;
}
.turn-phone.off {
    border: 2px solid #f52525;
    color: #f52525;
}
.turn-phone:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(65, 107, 0, 0.376);
}
.turn-phone:before {
    content: "";
    position: absolute;
}

/*--------------------  Animation fadeInBack  --------------------*/
@keyframes fadeInBack {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    20% {
        opacity: 1;
        transform: scale(1);
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*--------------------  Animation fadeIn  --------------------*/
@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*--------------------  Animation Colorizer  --------------------*/
@keyframes Colorizer {
    0% {
        background-color: #000000;
    }
    20% {
        background-color: #710380;
    }
    45% {
        background-color: #710380;
    }
    65% {
        background-color: #122ead;
        opacity: 1;
    }
    90% {
        background-color: #122ead;
        opacity: 1;
    }
    100% {
        background-color: #fff;
        opacity: 1;
    }
}
@keyframes loading05 {
    0% {
        transform: rotateX(-360deg);
    }
    70% {
        transform: rotateX(0);
    }
}
.modal-content {
    background-color: #fdfcff;
    border-radius: 0;
    border: 0 none;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #777777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}

.pagination-wrap {
    text-align: center;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
    color: #194577;
}
.pagination > li a {
    color: #194577;
}
.pagination > li > a,
.pagination > li > span {
    border: 0 none;
    border-radius: 2px;
    margin: 0 3px;
    padding: 1px 6px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    background-color: #194577;
    border-color: #194577;
    cursor: default;
}

.add-floorplan {
    width: 500px;
}
.add-floorplan .config-aside {
    padding: 30px 22px;
}

/* Form elements
--------------*/
.form .form-group {
    margin-bottom: 22px;
}
.form .form-group > label,
.form .form-group div > label:first-child {
    color: #111111;
    font-size: 14px;
    font-stretch: condensed;
    font-weight: 500;
    letter-spacing: 0.3px;
    margin-bottom: 3px;
}
.form .form-group .form-group-inner {
    margin-top: 15px;
}
.form .form-control,
.form select.form-control,
.form textarea.form-control {
    background-color: #f1f1f1;
    border: 0 none;
    border-radius: 0;
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    min-height: 40px;
    padding: 6px 15px 10px;
}
.form .form-control:focus,
.form select.form-control:focus,
.form textarea.form-control:focus {
    box-shadow: none;
}
.form select.form-control {
    background-image: url(../img/angle-down-black.png);
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.form .form-bottom {
    padding-top: 18px;
}
.form .form-bottom > button:not(:last-child),
.form .form-bottom > a:not(:last-child) {
    margin-bottom: 4px;
}

/* Grey input fields on form */
.form.form-gray .form-control {
    background-color: #f3f3f3;
}
.form.form-gray .form-control:focus {
    border: 1px solid #000000;
}
.form.form-gray .bootstrap-select .dropdown-toggle {
    background-color: #f3f3f3;
}
.form.form-gray .bootstrap-select.fc-select .dropdown-toggle {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}
.form.form-gray textarea {
    display: block;
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    height: 150px;
}
.form.form-gray textarea:focus {
    border-color: #000;
    box-shadow: none;
    outline: none;
}

/* checkboxes & radios */
.form-check {
    padding: 0;
}
.form-check input[type=checkbox] {
    display: none;
}
.form-check input[type=checkbox] + label {
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
}
.form-check input[type=checkbox] + label:before {
    background-color: #000000;
    color: #fff;
    content: "";
    display: inline-block;
    margin-right: 9px;
    position: relative;
    width: 16px;
    height: 16px;
    top: 3px;
}
.form-check input[type=checkbox]:checked + label:before {
    background-image: url(../img/check-white@2x.png);
    background-size: 12px auto;
    background-repeat: no-repeat;
    background-position: center 3px;
}
.form-check input[type=radio] {
    display: none;
}
.form-check input[type=radio] + label {
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    position: relative;
}
.form-check input[type=radio] + label:before {
    background-color: #000000;
    border-radius: 50%;
    color: #fff;
    content: "";
    display: inline-block;
    margin-right: 9px;
    position: relative;
    width: 16px;
    height: 16px;
    top: 3px;
}
.form-check input[type=radio]:checked + label:after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 3px;
    top: 7px;
}

/* Custom select dropdown */
.form-group .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.bootstrap-select.btn-group.show .dropdown-menu.inner {
    display: block;
}
.bootstrap-select > .dropdown-toggle,
.bootstrap-select > .dropdown-toggle.bs-placeholder {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 0;
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    height: 40px;
    box-shadow: none;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus {
    color: #000000;
    box-shadow: none;
}
.bootstrap-select .dropdown-toggle {
    padding: 6px 14px;
    padding-right: 26px;
}
.bootstrap-select .dropdown-toggle:focus {
    outline: 0 !important;
}
.bootstrap-select .dropdown-toggle:after {
    border: 0 none;
    content: "";
    font-family: FontAwesome;
    font-size: 20px;
    vertical-align: unset;
    position: relative;
    right: 6px;
    top: 1px;
}
.bootstrap-select .dropdown-toggle[aria-expanded=true] {
    border-color: #2f2f2f !important;
}
.bootstrap-select.fc-select > .dropdown-toggle:after {
    background-image: url(../img/caret.png);
    background-repeat: no-repeat;
    content: "";
    cursor: pointer;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    width: 7px;
    height: 5px;
}
.bootstrap-select.btn-group > .dropdown-menu {
    border-radius: 0;
    border-top: 0 none;
    border-color: #2f2f2f;
    padding: 0;
    top: -3px !important;
}
.bootstrap-select.btn-group > .dropdown-menu li a {
    color: #000000;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    min-height: 40px;
    outline: 0;
    padding: 9px 10px 8px 14px;
}
.bootstrap-select.btn-group > .dropdown-menu li a:hover {
    background-color: #f3f3f3;
}
.bootstrap-select.btn-group > .dropdown-menu li.disabled {
    display: none;
}
.bootstrap-select.btn-group > .dropdown-menu[x-placement=top-start] {
    border-bottom: 0 none;
    border-top: 1px solid #2f2f2f;
    top: 1px !important;
}

/* Input group spinner */
.input-group.spinner {
    position: relative;
    display: table;
    border-collapse: collapse;
    max-width: 100%;
}
.input-group.spinner input,
.input-group.spinner .form-control {
    border-right: 1px solid #000000;
    display: table-cell;
    padding: 6px 8px 4px;
    text-align: center;
    width: 100%;
    z-index: 5;
}
.input-group.spinner input[type=number]::-webkit-inner-spin-button,
.input-group.spinner input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
.input-group.spinner input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    margin: 0;
}
.input-group.spinner .input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 31px;
    max-width: 31px;
    vertical-align: middle;
    display: table-cell;
}
.input-group.spinner .input-group-btn-vertical > button {
    background-color: #ffffff;
    border: 0 none;
    cursor: pointer;
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 4px;
    height: 19.5px;
    margin-left: -1px;
    outline: 0;
    padding: 0;
    position: relative;
    border-radius: 0;
}
.input-group.spinner .input-group-btn-vertical > button i {
    display: block;
}
.input-group.spinner .input-group-btn-vertical > .divider {
    background-color: #1a1919;
    height: 1px;
    width: 100%;
}

/* Tabs
------------*/
.tab-content .tab-pane {
    padding-top: 30px;
}

.nav-tabs.common-tabs {
    border-color: #E4E5E9;
    margin-bottom: 10px;
}
.nav-tabs.common-tabs .nav-item:not(:last-child) {
    margin-right: 35px;
}
.nav-tabs.common-tabs .nav-link {
    color: #a3a3a3;
    border: 0 none;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    padding: 0px 5px 7px;
    transition: all 0.2s ease;
}
.nav-tabs.common-tabs .nav-item.show,
.nav-tabs.common-tabs .nav-link.active {
    background-color: transparent;
    border-color: #1a4779;
    color: #000000;
}

.brand-checks label {
    font-weight: 400;
    color: #1a1919;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
}
.brand-checks label:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #1a1919;
    position: relative;
    margin-right: 10px;
    top: 2px;
}
.brand-checks input {
    display: none;
}
.brand-checks input:checked + label:before {
    background: url(../img/check-white@2x.png);
    background-color: #1a1919;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
}
.brand-checks.popup-brands {
    margin-bottom: 0;
}
.brand-checks.popup-brands small {
    font-size: 12px;
}
.brand-checks.popup-brands label {
    margin-bottom: 0;
}

.radio-reds .form-check {
    display: inline-block;
    margin-right: 15px;
}
.radio-reds .form-check input[type=radio] + label:before {
    border: 1px solid #000;
    background: #fff;
    width: 12px;
    height: 12px;
    top: 1px;
}
.radio-reds .form-check input[type=radio]:checked + label:after {
    background: #1a4779;
    width: 6px;
    height: 6px;
    top: 9px;
    left: 3px;
}

/* Tables
---------*/
.table.table-list {
    border: 0;
}
.table.table-list th, .table.table-list td {
    border: 0 none;
    font-size: 13px;
    line-height: 1.2em;
    padding: 10px;
    height: 33px;
}
.table.table-list thead th {
    background-color: #f3f3f3;
}
.table.table-list thead.second-head th {
    color: #111111;
    font-size: 14px;
    font-stretch: condensed;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 1.1em;
    text-transform: uppercase;
}
.table.table-list th {
    font-weight: 500;
}
.table.table-list td {
    font-weight: normal;
}
.table.table-list.tbl-lg th, .table.table-list.tbl-lg td {
    font-size: 14px;
    line-height: 18px;
    height: 35px;
    padding-bottom: 5px;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}
table.table-striped tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table.table-striped-darker tr:nth-of-type(odd) {
    background-color: transparent;
}
table.table-striped-darker tr:nth-of-type(even) {
    background-color: #eaeaea;
}

.mt30 {
    margin-top: 30px;
}

.quantity {
    position: relative;
}
.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.quantity input[type=number] {
    -moz-appearance: textfield;
}
.quantity input {
    width: 100%;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
}
.quantity input:focus {
    outline: 0;
}
.quantity .quantity-nav {
    float: left;
    position: relative;
    height: 42px;
}
.quantity .quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    transform: translateX(-100%);
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.quantity .quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee;
}
.quantity .quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}

.wrap-shape {
    margin-top: 10px;
}
.wrap-shape > div {
    border: 1px solid #eee;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.wrap-shape .active {
    background-color: #dcdcdc;
}
.wrap-shape .shape-1 {
    width: 65px;
    height: 90px;
}
.wrap-shape .shape-2 {
    width: 65px;
    height: 79px;
}
.wrap-shape .shape-3 {
    width: 70px;
    height: 60px;
}
.wrap-shape .shape-4 {
    width: 75px;
    height: 45px;
}
.wrap-shape .shape-5 {
    width: 80px;
    height: 35px;
}
.wrap-shape input[type=radio] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
